* {
    box-sizing: border-box;
  }
  
  body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgb(124, 24, 24);
    font-family: Arial;
  }
  
  .header2 {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .bgimg-1 {
    background-image: url("../images/home.jpeg");
    height: 80%;
    width: 100%;
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  .text-block {
    position: absolute;
    bottom: 100px;
    right: 100px;
    opacity: 0.8;
    padding-left: 40px;
    padding-right: 40px;
  }